# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.animation2.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Phili\OneDrive\Desktop\Programing suit\animation2\.idea\.idea.animation2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
